{
  "CONSUMER_KEY": "",
  "CONSUMER_SECRET": "",
  "TOKEN_KEY": "",
  "TOKEN_SECRET": "",

  "TELEGRAM": false,
  "TELEGRAM_BOT_TOKEN": "",
  "TELEGRAM_CHANNEL_ID": "",
  "TELEGRAM_VOTE_CHANNEL_ID": "",
  "TELEGRAM_LOG_CHAT_ID": "",
  "VOTE_SKIP_FACTOR": 50,

  "RETWEET" : True,
  "RETWEET_INTERVAL": 5,
  "SAVE_TWEETS": false,
  "SAVE_TWEETS_PATH": "/tweets",
  "LANGUAGES": [
    "fa"
  ],
  "FILTER_WORDS": [
    "fuck",
    "sex",
    "cunt",
    "کیر",
    "شیر",
    "سگ",
    "گوسفند",
    "شاش",
    "عن",
    "ریده",
    "جنده",
    "مادرجنده",
    "گه"
  ],
  "START_INDEX": 13,
  "BLACK_LIST": [
    "787555147778064384"
  ],
  "TRACKS": {
    "برنامه": 0.05,
    "اپ": 0.05,
    "اپیکیشن": 0.05,
    "app": 0.05,
    "وب": 0.05,
    "web": 0.05,
    "کامپیوتر": 0.1,
    "کنسول": 0.05,
    "console": 0.1,
    "تبلت": 0.05,
    "هنگ": 0.05,
    "اینترنت": 0.05,
    "جاوا": 0.5,
    "java": 0.7,
    "پایتون": 0.7,
    "python": 0.5,
    "py": 0.3,
    "اسکریپت": 0.2,
    "script": 0.2,
    "php": 0.7,
    "کاتلین": 0.7,
    "kotlin": 0.7,
    "دارت": 0.2,
    "dart": 0.4,
    "html": 0.3,
    "css": 0.3,
    "sql": 0.7,
    "nosql": 0.7,
    "mongodb": 0.7,
    "mongo": 0.3,
    "firebase": 0.7,
    "firestore": 0.7,
    "elastic": 0.2,
    "json": 0.3,
    "xml": 0.3,
    "cli": 0.1,
    "c": 0.1,
    "typescript": 0.7,
    "گو": 0.1,
    "go": 0.3,
    "golang": 0.7,
    "اسمبلی": 0.3,
    "assembly": 0.3,
    "سویفت": 0.2,
    "swift": 0.2,
    "rust": 0.3,
    "جاوااسکریپت": 0.7,
    "javascript": 0.7,
    "js": 0.2,
    "es6": 0.7,
    "ecma": 0.2,
    "ecmascript": 0.2,
    "هکر": 0.2,
    "هک": 0.2,
    "پیاده‌ساز": 0.2,
    "دولپ": 0.2,
    "دولوپر": 0.2,
    "develop": 0.3,
    "developer": 0.3,
    "دیباگ": 0.3,
    "debug": 0.7,
    "سرور": 0.1,
    "server": 0.4,
    "لینوکس": 0.6,
    "linux": 0.7,
    "کرنل": 0.2,
    "kernel": 0.5,
    "ویندوز": 0.3,
    "windows": 0.3,
    "ترمینال": 0.1,
    "terminal": 0.2,
    "کالی": 0.2,
    "kali": 0.3,
    "فدورا": 0.2,
    "fedora": 0.2,
    "debian": 0.5,
    "مانجارو": 0.2,
    "manjaro": 0.2,
    "ابونتو": 0.5,
    "ubuntu": 0.5,
    "kubuntu": 0.5,
    "گنوم": 0.2,
    "gnome": 0.2,
    "kde": 0.2,
    "plasma": 0.2,
    "ربات": 0.2,
    "الگوریتم": 0.4,
    "ide": 0.5,
    "jetbrain": 0.7,
    "فرانت": 0.3,
    "frontend": 0.7,
    "بک‌اند": 0.5,
    "backend": 0.7,
    "ui": 0.3,
    "ux": 0.3,
    "هوش‌مصنوعی": 0.5,
    "ai": 0.5,
    "دیتا": 0.2,
    "data": 0.2,
    "دیتابیس": 0.7,
    "پایگاه‌داده": 0.7,
    "database": 0.7,
    "jvm": 0.7,
    "تکنولوژی": 0.2,
    "کد": 0.1,
    "code": 0.2,
    "pycharm": 0.7,
    "vscode": 0.7,
    "xcode": 0.7,
    "ماکروسافت": 0.2,
    "microsoft": 0.2,
    "گوگل": 0.2,
    "google": 0.2,
    "اینتل": 0.2,
    "intel": 0.2,
    "amd": 0.2,
    "webstorm": 0.7,
    "intelij": 0.7,
    "clion": 0.7,
    "phpstorm": 0.7,
    "qt": 0.2,
    "یونیتی": 0.1,
    "unity": 0.1,
    "engine": 0.1,
    "سورس": 0.1,
    "source": 0.3,
    "کروم": 0.1,
    "chrome": 0.3,
    "موزیلا": 0.5,
    "mozilla": 0.7,
    "فایرفکس": 0.5,
    "firefox": 0.5,
    "باگ": 0.2,
    "bug": 0.2,
    "سی‌پی‌یو": 0.1,
    "cpu": 0.1,
    "gpu": 0.1,
    "ram": 0.1,
    "مک‌بوک": 0.1,
    "macbook": 0.1,
    "لپتاپ": 0.05,
    "laptop": 0.01,
    "acm": 0.3,
    "گیت‌هاب": 0.7,
    "github": 0.7,
    "گیت": 0.2,
    "git": 0.7,
    "گیت‌لب": 0.4,
    "gitlab": 0.7,
    "ریپو": 0.1,
    "repo": 0.2,
    "ریپازیتوری": 0.3,
    "repository": 0.6,
    "فورک": 0.1,
    "fork": 0.1,
    "vpn": 0.2,
    "فلاتر": 0.5,
    "flutter": 0.7,
    "اندروید": 0.2,
    "android": 0.2,
    "ios": 0.2,
    "macos": 0.2,
    "نرم‌افزار": 0.2,
    "software": 0.2,
    "سخت‌افزار": 0.2,
    "hardware": 0.2,
    "افزار": 0.1,
    "شیءگرا": 0.2,
    "object": 0.2,
    "پلتفروم": 0.2,
    "مایکروسیستم": 0.2,
    "پکیج": 0.2,
    "package": 0.2,
    "apk": 0.2,
    "exe": 0.2,
    "لاراول": 0.7,
    "laravel": 0.7,
    "انگولار": 0.5,
    "angular": 0.7,
    "ری‌اکت": 0.2,
    "react": 0.2,
    "vue": 0.3,
    "vuejs": 0.3,
    "بوت‌استرپ": 0.2,
    "bootstrap": 0.2,
    "node": 0.2,
    "nodejs": 0.7,
    "جنگو": 0.3,
    "django": 0.3,
    "انویدیا": 0.1,
    "nvidia": 0.1,
    "radeon": 0.1,
    "فریمورک": 0.2,
    "framework": 0.2,
    "ssh": 0.5,
    "وردپرس": 0.5,
    "wordpress": 0.5,
    "جوملا": 0.5,
    "joomla": 0.5,
    "cms": 0.5,
    "بایوس": 0.2,
    "bios": 0.2,
    "bit": 0.2,
    "بایت": 0.2,
    "byte": 0.2,
    "سیستم‌عامل": 0.2,
    "os": 0.2,
    "express": 0.1,
    "اورکلاک": 0.2,
    "overclock": 0.2,
    "net": 0.1,
    "lifecycle": 0.2,
    "stack": 0.2,
    "heap": 0.2,
    "ویم": 0.2,
    "vim": 0.5,
    "asp": 0.2,
    "pip": 0.2,
    "npm": 0.7,
    "npx": 0.7,
    "matlab": 0.4,
    "jquery": 0.7,
    "encapsulation": 0.2,
    "restful": 0.2,
    "graphql": 0.7,
    "vps": 0.2,
    "redis": 0.2,
    "scrapy": 0.5,
    "nestjs": 0.7,
    "nextjs": 0.7,
    "devops": 0.7,
    "بلاک‌چین": 0.2,
    "blockchain": 0.2,
    "seo": 0.2
  }
}