{
  "CONSUMER_KEY": "<your consumer key>",
  "CONSUMER_SECRET": "<your consumer secret>",
  "TOKEN_KEY": "<your user token(oauth_token)>",
  "TOKEN_SECRET": "<your user token secret(oauth_verifier)>",
  "RETWEET_INTERVAL": 10,
  "SAVE_TWEETS": false,
  "SAVE_TWEETS_PATH": "/tweets",
  "LANGUAGES": ["fa","en"],
  "FILTER_WORDS": ["fuck","sex"],
  "START_INDEX":0,
  "TRACKS": [
    "computer",
    "I_Hate_Python",
    "dart"
  ]
}